@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<p>
    UPTM is a higher learning institute that nurtures students with moral values and humanity in every aspect of learning and human capital development, while ensuring every individual are given equal opportunity to shape their success in the professional scope through a variety of technology and knowledge. This is what UPTM is all about, offering recognised certification and transforming graduates into professionals of
    high standards of morality.
</p>
